@import "./All.scss";

.nav-menu{
    height: 100%;
    .about{
        text-decoration: none;
        li{
            color: black;
            margin-right: 22px;
            
        }
    }
  
}
.logo{
    width: 100%;
    img{
        max-width: 45%;
    }
}
.menu-reponsive{
    margin-top: 22%;
    margin-bottom: 50%;
    .menu-item{
        line-height: 50px;
    }
}
