@import "./All.scss";

.nav-menu{
    height: 100%;  
    .about{
        text-decoration: none;
        li{
            color: orange;
            margin-right: 22px;           
        }
    }
  
}
.logo{
    width: 100%;
    
   .logo-item{
    position: absolute;
    top: -4%;
    left: 44%;
    z-index: 2;
        img{
            max-width: 45%;  
        }
   }
  
}
.menu-reponsive{
    margin-top: 22%;
    margin-bottom: 50%;
    .item-menu{
        text-decoration: none;
        .menu-item{
            line-height: 50px;
          
            color: orange;
        }
    }
    
}
@media screen and (max-width: 768px){
   
    .logo-mobile-item{
        z-index: 1;
       img{
            max-width: 50%;
       }
    }
  
}
@media screen and (max-width: 768px) and (min-width:768px){
      .btn-mobile{
        margin-top: 12%;
    }
}