@import "./All.scss";

.nav-menu{
    height: 100%;  
    .about{
        text-decoration: none;
        li{
            color: orange;
            margin-right: 22px;           
        }
    }
  
}
.logo{
    width: 100%;
    .logo-menu{
        max-width: 50%;
    }
   .logo-item{
    position: absolute;
    top:-50px;
    z-index: 100;
    left: 44%;
        img{
            max-width: 45%;  
            
        }
   }
  
}
.menu-reponsive{
    margin-top: 22%;
    margin-bottom: 50%;
    .item-menu{
        text-decoration: none;
        .menu-item{
            line-height: 50px;
          
            color: orange;
        }
    }
    
}
@media screen and (max-width: 768px){

.mobile-header{
    position:fixed;
    z-index: 999;
    bottom:-10px;
    background-color:whitesmoke;
    .logo-mobile{   
        .logo-mobile-item{
         
           img{
                max-width:50%;
           }
        }
       }
}
}
@media screen and (max-width: 768px) and (min-width:768px){
      .btn-mobile{
        margin-top: 8%;
    }
}
@media screen and (max-width: 280px) and (min-width:280px){
    .btn-mobile{
      margin-top: -2px;
  }
}