@import "./All.scss";
.container-fluid{
  overflow: hidden;
}
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 6 / span 8;
    padding-top: 20%; 
    z-index: 1; 
  }
  
  img {
    width: 100%;
    display: block;
  }
.text-about{

    .btn-about{
        background-color: #Efa758;
        color:white;
        font-weight: 800;
    }
    h3{
        color: #b98d58;
        font-weight: bold;
    }
    h1{
        font-weight: 800;
        font-size: 55px;
    }
    p{
        color:#333333;
        font-weight: 500;
        font-size: 24px;
    }
}
.serve{
  h3{
    color: #b98d58;
    font-weight: bold;
  }
  .serve-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    .img-under{
      grid-row: 1;
      grid-column: -1 / 6;
      img{
        width: 100%;
        display: block;
      }
    }
    .img-top{
      grid-row: 1;
      grid-column: 1 / 8;
      padding-top: 35%; 
      z-index: 1; 
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .serve-item{
    p{
        color:#333333;
        font-weight: 500;
        font-size: 24px;
    }
    .btn-serve{
        background-color: #Efa758;
        color:white;
        font-weight: 800;
    }
  }
}
.img{
  h3{
    color: #b98d58;
    font-weight: bold;
  }
  .img-place{
    .img-left{
      display: grid;
      grid-template-columns: repeat(12,1fr);
      .img-item{
        grid-row: 1;
        grid-column: 1 / span 12;
        z-index: 1;
        img{
          display: block;
          width: 100%;
        }
      }
    }  
  }
}
